{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="home">
    <h1> T&G </h1> <br>
    {{ '<h2>Vous souhaitez avoir des produits de qualité sur votre table ?</h2> <br>
    <h2> Bienvenue dans notre magasin</h2>'|trans|raw }}
</div> 
{% endblock %}
