{% extends 'base.html.twig' %}
{% block body %}

<h1> select par User</h1>

{{ form_start(form) }}

  <button type="submit">VALIDER</button>

{{ form_end(form) }}
   <a href="{{ path('app_home') }}"><button>RETOURNE</button></a>
{% endblock %}
