* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  /* background-color:rgb(216, 234, 217); */
}
header {
  width: 100vw;
  max-height: 20vh;
   text-align: center;
   justify-content:center;
 }
 main {
  min-height: 80vh;
 }
body {
  background-color: rgb(216, 234, 217);
 }
 .home {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
 }
 .gallery {
  display: flex;
  flex-wrap: wrap; 
  margin: 0 50px 0 50px;
  padding: 10px;
}
 .gallery_panie {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
}
.item {
  width: 25%;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  padding: 10px;
}
.item_panie {
  display: flex;
  width: 100%;
  margin: 0px 50px 0px 50px;
  flex-direction: row;
  align-items: center;
  text-align: end;
  font-size: 25px;
}
.item_panie1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 25px;
  box-sizing: border-box;
}
.item button {
  width: auto;
  height: auto;
  background-color:  rgb(49, 78, 51);
  text-align: center;
  border: rgb(12, 12, 12);
  border-bottom-width: 2px;
  border-style: dashed;
  padding: 3px;
  border-radius: 10px;
  font-size: 15px;
 color: white;
}
.item button:hover {
  background-color:  rgb(71, 150, 76);  
}
.item_panie1 button {
  font-size: 25px;
  background-color:  rgb(216, 234, 217);
  text-align: center;
  text-decoration: underline;
  border: rgb(216, 234, 217);
  padding: 30px 10px 0px;
  color: black;   
}
.item_panie img {
  width: 100px; 
  height: 75px;
  object-fit: scale-down;
  margin-bottom: 0px;
}
img, svg {
  vertical-align: middle;
}
.image_favorite img {
  width: 35px;
  height: 35px;
  object-fit: scale-down;
  text-align: end;
}
.image {
  width: 40px;
  height: 40px;
  object-fit: scale-down;
}
.image_header {
  width: 90px; 
  height: 60px;
  object-fit: cover;
  background-color:  rgb(216, 234, 217);
}
.header-bottom {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.header-top {
  width: 100vw;
  padding: 1vh 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgb(49, 78, 51);
}
.header-bottom_all {
  width: auto;
  height: auto;
  background-color:  rgb(49, 78, 51);
  border: rgb(12, 12, 12);
  border-bottom-width: 1px;
  border-style: dashed;
  align-items: center;
  text-align: center;
  font-size: 15px;
 color: white;
 margin: 10px 0px 10px 0px;
}
 h1 {
   width: 100%;
   margin: 20px;
   text-align: center;
   font-size: 56px;
   color:  rgb(49, 78, 51);;
 }
 input {
   width: 100%;
   background-color: #cbabab;
   border-width: 1px;
   font-size: 26px;
 }
 button {
   border-bottom-width: 2px;
   border-collapse:separate;
   color: white;
   cursor: pointer;
   font-size: 10px;
   background-color:  rgb(49, 78, 51);;
 }
 .button {
  border-bottom-width: 2px;
  border-collapse:separate;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 27px;
  background-color:  rgb(49, 78, 51);;
  text-decoration: none;
 }

 .table-produit {
  display: flex;
  justify-content: center;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 45px;
  border: none;
  cursor: pointer;
 }
 a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
 }
 a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
 }
 .search-bar a {
  color: white;
  padding: 0px 10px 0px 300px;
 }
 .search-bar {
    display: flex;
    flex-direction: row;
  width: auto;
  height: auto;
  background-color:  rgb(49, 78, 51);
 }

 .search-bar input {
  background-color:rgb(216, 234, 217);
  color: rgb(49, 78, 51);
  font-size: 30px;
 }
 .search-bar button {
  background-color:rgb(216, 234, 217);
  color: rgb(49, 78, 51);
  font-size: 30px;
  padding: 10px;
 }
 .user {
  font-size: 40px;
  text-align: center;
 }
  .dropdown {
   position: relative;
   display: inline-block;
 }
  .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
  .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
  .dropdown-content a:hover {
    background-color: #f1f1f1}
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
  .dropdown:hover .dropbtn {
   background-color: #da0fb4;
 }
 .chapeau {
  background-color: #c3e4c1;
  font-size: 40px;
  text-align: center;
 }
 .facture1 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  text-align: left;
 }

 .table_chapeau {
  font-size: 30px;
  background-color: #f9f9f9;
 }
.red-text {
    color: red;
  }
.connection1 input {
  width: 50%;
  display: flex;
  text-align: center;
  margin: 00px 20px 10px 700px;
  background-color: rgb(49, 78, 51);
  color: white;
}
.primary-btn {
  background-color: rgb(49, 78, 51);
  color: white;
  text-align: center;  
  font-size: 30px;
  padding: 5px 30px;
  border-radius: 10px;
  cursor: pointer;
 }
 #connection1_submit a {
  background-color: rgb(49, 78, 51);
  color: white;
 }
 #connection_submit {
  width: 50%;
  background-color: rgb(49, 78, 51);
  color: white;
  text-align: center;  
  font-size: 30px;
 } 
 .required {
  width: 100%;
 display: flex;
 justify-content: center;
 background-color: rgb(49, 78, 51);
 color: white;
 }
 .connection-form {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #706e6e32;
 }
 .connection-form label, input, button {
  padding: 5px;
  font-size: 20px;
  background-color: rgb(49, 78, 51);
 }
 .connection-form  input {
  margin-bottom: 15px;
}
 form {
  display: flex;
  justify-content: center;
 }
 .container-connection {
  position: relative;
  background-image: url("../styles/image/registration1.png");
  background-size: cover;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

  .cherche-form  {
    display: flex;
    flex-direction: row;
    height: 50px;
   }
  .cherche-btn  {
  background-color:rgb(216, 234, 217);
  color: rgb(49, 78, 51);
  text-align: center;
  padding: 3px;
 }
 .cherche-input {
  background-color:rgb(216, 234, 217);
  color: rgb(49, 78, 51);
  font-size: 20px;
 }
 .btn-big {
  background-color:rgb(198, 212, 199);
  color: black !important;
  border: #4c4a4a;
 }
 .btn-big:hover {
  background-color:rgb(183, 211, 185);
  color: rgb(94, 128, 96) !important;
 }
 .mb-3 {
  display: flex;
  justify-content: center;
 }
 .form-select {
  display: flex;
  justify-content: center;
   text-align: center; 
   font-size: 20px;
    height: auto;
 }
 .form-control {
  text-align: center;  
 }
 .registration {
  background-image: url("../styles/image/registration1.png");
  display: flex;
  justify-content: right;
 background-size: 100%;
}
 .connection {
  display: flex;
  justify-content: center;
  text-align: center;  
  color: white;
  font-size: 30px;
  width: 100%;
  } 
  #connection input {
   display: flex;
   align-items: center;
   text-align: center;   
    background-color:  white;
   color: rgb(49, 78, 51);
   width: 100%;
    }
   .connection-form label {
    width: 100%;
    border-width: 1px;
    font-size: 26px;
  }
form {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 30px;
    width: 50%;
   } 
  .footer {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
  }
  .burger-container {
    display: none;
}
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.burger span {
  display: block;
  width: 100%;
  height: 4px;
  background: #333;
  border-radius: 2px;
}
.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.nav-menu a {
  text-decoration: none;
  color: rgb(49, 78, 51);
  background-color: rgb(229, 240, 229);
}
.burger-container {
  display: none; /* скрываем бургер-меню на больших экранах */
}
.nav-menu {
  display: none;
}
  /* Vos css pour la version mobile */
@media screen and (max-width: 767px) { 
* {
  font-size: 15px;
}
.header-bottom {
    display: none;
}
.header-top {
    padding: 2px;
}
.search-bar {
    font-size: 15px;
    width: 60%;
}
.burger-container {
  display: flex;
}
.burger span {
  background: white;
}
.logo {
  font-size: 25px;
}
.nav-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #eee;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
.nav-menu.show {
  display: flex;
}
.gallery {
  display: flex;
  flex-wrap: wrap; 
  margin: 0 10px 0 10px;
  padding: 3px;
}
.item {
  position: relative;
  width: 25%;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
}
.item-img {
  width: 85px; 
  height: 62px;
  object-fit: scale-down;
  padding: 0px;
}
img, svg {
  vertical-align: middle;
}
.image_favorite a{
  width: 8px;
  height: 8px;
}
.image_favorite img {
  width: 8px; /* Сделать изображения одинакового размера */
  height: 8px;
  justify-content: end;
  object-fit: scale-down;
}
.image_favorite {
  position: absolute;
  top: 10px;
  right: 10px;
}
.image {
  width: 40px; /* Сделать изображения одинакового размера */
  height: 40px;
  object-fit: scale-down;
}
.image_header {
  width: 90px; /* Сделать изображения одинакового размера */
  height: 60px;
  object-fit: scale-down;
  background-color:  rgb(216, 234, 217);
}
#connection_submit {
  width: 25%;
font-size: 15px;
}
h1 {
  font-size: 22px;
}
.chapeau {
  font-size: 15px;  
}
.connection-form label, input, button {
    padding: 5px;
    font-size: 15px;
    background-color: rgb(49, 78, 51);
}
.burger-check:checked ~ ul {
    display: flex;
}
nav ul li {
    width: 100%;
}
nav ul li a {
    padding: 10px 20px;
    display: block;
} 
}
  
  /* Vos css pour une largeur supérieure ou égale à 768px (tablette)*/
  @media screen and (min-width: 768px) {
      * {
        font-size: 20px;
        /* transition: 1s; */
      }
      .header-bottom {
          display: none;
      }
      .header-top {
          padding: 2px;
      }
      .search-bar {
          font-size: 20px;
          width: 60%;
      }
      .burger-container {
        display: flex;
      }
      .burger span {
        background: white;
      }
      .logo {
        font-size: 30px;
      }
      .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #eee;
        padding: 10px 0;
        border-top: 1px solid #ccc;
      }
      .nav-menu.show {
        display: flex;
      }
      .gallery {
        display: flex;
        flex-wrap: wrap; 
        margin: 0 10px 0 10px;
        padding: 3px;
      }
      .item {
        position: relative;
        width: 25%;
        text-align: center;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 20px;
      }
      .item-img-box {
        width: 100%;
      }
      .item-img-box img {
        width: 170px; /* Сделать изображения одинакового размера */
        height: 125px;
        object-fit: scale-down;
      }
      img, svg {
        vertical-align: middle;
      }
      .image_favorite {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .image_favorite img {
        width: 25px; /* Сделать изображения одинакового размера */
        height: 25px;
      }
      .image {
        width: 40px; /* Сделать изображения одинакового размера */
        height: 40px;
        object-fit: scale-down;
      }
      #connection_submit {
        width: 30%;
      font-size: 20px;
      }
      h1 {
        font-size: 28px;
      }
      .chapeau {
        font-size: 20px;  
      }
      .connection-form label, input, button {
          padding: 5px;
          font-size: 20px;
          background-color: rgb(49, 78, 51);
      }
      .burger-check:checked ~ ul {
          display: flex;
      }
      nav ul li {
          width: 100%;
      }
      nav ul li a {
          padding: 10px 20px;
          display: block;
      } 
      } 
  /* Vos css pour une largeur supérieure ou égale à 1024px (pc desktop)*/
  @media screen and (min-width: 1024px) {
   
      .header-bottom {
        display: flex;

    }

  }
  @media screen and (min-width: 1670px) {
  .item-img-box img {
    width: 340px; /* Сделать изображения одинакового размера */
    height: 250px;
    object-fit: scale-down;
    padding: 0px;
  }
}